* {
	box-sizing: border-box;
}

html,
body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #3c3c3b;
}

header {
	position: relative;
	background-color: rgba(15, 233, 118, 0.1);
	max-width: 1228px;
	margin: 0 auto;
	z-index: 1;
}

.title {
	position: absolute;
	z-index: 10;
	width: 100%;
	left: 0;
}
.title--fixed {
	position: fixed;
	background-color: #fff;
	width: 100%;
	max-width: inherit;
	z-index: 0;
	border-bottom: 2px solid rgba(15, 233, 118, 0.1);
}
.title__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	max-width: 1228px;
}
.title__text {
	font-weight: 600;
	font-size: 2.5em;
	color: #0fe976;
	white-space: nowrap;
}
.title__nav {
	display: flex;
	align-items: center;
	color: #fff;
}
.title--fixed .title__text {
	margin-right: 2em;
	font-size: 1.5em;
}
.title--fixed .title__nav {
	color: #3c3c3b;
}
.title--fixed .title__nav.links {
	flex-grow: 1;
}
.title--fixed .links > a > svg {
	width: 1.5em;
	height: 1.5em;
}

.lang-switch {
	margin-right: 1em;
}
.lang-switch span {
	font-weight: 600;
}
.lang-switch span:hover,
.lang-switch span[data-lang-current] {
	color: #0fe976;
	cursor: pointer;
}

.links {
	display: flex;
	font-weight: 600;
	justify-content: flex-start;
}
.title__nav.links > a:not(:first-of-type) {
	margin-left: 1em;
}
.links > a > svg {
	width: 2em;
	height: 2em;
	fill: currentColor;
}
.links > a:hover {
	color: #0fe976;
}

.slides {
	position: relative;
	height: 32rem;
	padding: 0;
	margin: 0;
	list-style-type: none;
	background-color: #0fe976;
}
.slide {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
	transition: opacity 0.8s;
}
.slide--visible {
	opacity: 1;
	z-index: 2;
}
.slide__inner {
	width: inherit;
	height: inherit;
	position: relative;
}
.slide__background {
	display: flex;
	justify-content: center;
	width: inherit;
	height: inherit;
	position: absolute;
	z-index: -1;
	padding: 3.5em;
	background-color: #F1F1F1;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.slide__book-img {
	position: relative;
	height: inherit;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
}
.slide__book-img img {
	height: inherit;
}
.slide__book-img::after {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0) 46%,
		rgba(0, 0, 0, 0.1) 50%,
		rgba(0, 0, 0, 0) 54%,
		rgba(0, 0, 0, 0)
	);
}
.slide__link {
	font-size: 4.5em;
	color: white;
	position: absolute;
	width: inherit;
	height: inherit;
	top: 0;
	padding: 5rem 1rem;
	display: flex;
	align-items: center;
}
.slide__link::after {
	content: '';
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background: linear-gradient(
		rgba(0, 0, 0, 0.16),
		rgba(0, 0, 0, 0.08)
	);
}

section {
	max-width: 740px;
	margin: 0 auto;
	overflow: hidden;
}

footer {
	background-color: #0fe976;
	color: #fff;
	padding: 3em 1em;
}
.impressum-title {
	display: block;
	margin-bottom: 1em;
	font-size: 1.4em;
}
.impressum-list {
	column-count: 2;
}
.impressum-list p {
	line-height: 1.25;
	font-size: 0.75em;
	margin-top: 0;
	line-height: 1.5;
}
.impressum-list a {
	text-decoration: underline;
}

nav {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 1em);
}
.sketch {
	background-color: rgba(15, 233, 118, 0.1);
	flex-basis: calc(33.33% - 1em);
	padding: 1em 1em 0 1em;
	margin-bottom: 1em;
	margin-right: 1em;
}
.sketch__img {
	background-color: #fff;
	width: 100%;
	padding-top: 100%;
	position: relative;
}
.sketch__img img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

h2 {
	margin: 0.5em 0.25em;
	color: #0fe976;
	font-size: 2.5em;
	font-weight: 400;
}

h3 {
	background-color: #0fe976;
	color: #fff;
	margin-top: 0;
	padding: 0 0.8em;
	line-height: 1.6em;
	font-size: 1.2em;
}

a {
	text-decoration: none;
	color: inherit;
}

.intro {
	margin-top: 2em;
	margin-bottom: 2em;
}
.intro p {
	margin: 0 0.5em;
}
.intro > p:first-of-type {
	font-size: 1.8em;
	line-height: 1.6em;
}

.contact-title {
	margin: 1em 0.5rem 0.5em 0.5rem;
}

.contact-list {
	column-count: 2;
	margin: 0 0.5rem 2.5em 0.5rem;
}
.contact-list > span {
	margin-top: 0;
}
.contact-list > span:first-of-type {
	column-span: all;
}

.btn--download,
.btn--link {
	display: flex;
	align-items: center;
	font-weight: 600;
	margin: 1em 0;
	white-space: nowrap;
}
.btn--link::before,
.btn--download::before {
	content: url('arrow.svg');
	min-width: 2em;
	width: 2em;
	margin-right: 0.5em;
}
.btn--download::before {
	transform: rotate(90deg);
}

@media only screen and (max-width: 550px) {
	html,
	body {
		font-size: 12px;
	}

	header {
		font-size: 0.75em;
	}

	.title__text {
		font-size: 2.5em !important;
	}

	.title--fixed .title__text {
		flex-basis: 100%;
	}

	.links > a {
		font-size: 1.5em;
	}

	.links > a > svg {
		width: 1.5em;
		height: 1.5em;
	}

	.slides {
		height: 24rem;
	}

	.slide__link {
		font-size: 4em;
	}

	.sketch {
		flex-basis: calc(50% - 1em);
	}

	.contact-list {
		column-count: 1;
	}

	.impressum-list {
		column-count: 1;
	}
	.impressum-list p {
		font-size: 1em;
	}
}

@media only screen and (min-width: 920px) {
	#sketches {
		max-width: 920px;
	}

	.sketch {
		flex-basis: calc(25% - 1em);
	}
}

@media only screen and (min-width: 1228px) {
	#sketches {
		max-width: 1228px;
	}

	.sketch {
		flex-basis: calc(20% - 1em);
	}
}
