* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

header {
	background-color: #EFFAEE;
	max-width: 1228px;
	margin: 0 auto;
}

.title {
	position: absolute;
	z-index: 10;
	width: 100%;
	left: 0;
}
.title__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	max-width: 1228px;
}
.title__text {
	font-weight: 600;
	font-size: 2.5em;
	color: #6BE582;
	white-space: nowrap;
}
.title__nav {
	display: flex;
	align-items: center;
	color: #fff;
}

.lang-switch span {
	font-weight: 600;
}
.lang-switch span:hover,
.lang-switch--current {
	color: #6BE582;
	cursor: pointer;
}

.links {
	display: flex;
	margin-left: 1em;
}
.links > a {
	width: 1.75em;
	fill: currentColor;
}
.links > a:hover {
	fill: #6BE582;
}

.slides {
	position: relative;
	height: 500px;
	padding: 0;
	margin: 0;
	list-style-type: none;
	background-color: #6BE582;
}
.slide {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
	transition: opacity 0.8s;
}
.slide--visible {
	opacity: 1;
	z-index: 2;
}
.slide__inner {
	width: inherit;
	height: inherit;
	position: relative;
}
.slide__background {
	width: inherit;
	height: inherit;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	z-index: -1;
}
.slide__link {
	font-size: 4em;
	color: white;
	position: absolute;
	width: inherit;
	height: inherit;
	top: 0;
	padding: 2em 1em;
}
.slide__link::after {
	content: '';
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background: linear-gradient(
		rgba(0, 0, 0, 0.25),
		rgba(0, 0, 0, 0.1)
	);
}

section {
	max-width: 740px;
	margin: 0 auto;
	overflow: hidden;
}

footer {
	background-color: #6BE582;
	color: #fff;
	padding: 2em;
}
.impressum-title {
	display: block;
	margin-bottom: 1em;
}
.impressum-list {
	column-count: 2;
}
.impressum-list p {
	line-height: 1.25;
	font-size: 0.75em;
	margin-top: 0;
}
.impressum-list a {
	color: #EFFAEE;
	text-decoration: underline;
}

nav {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 1em);
}
.sketch {
	display: inline-flex;
	flex-direction: column;
	background-color: #EFFAEE;
	flex-basis: calc(33.33% - 1em);
	padding: 1em 1em 0 1em;
	margin-bottom: 1em;
	margin-right: 1em;
}
.sketch__img {
	background-color: #fff;
	flex-grow: 1;
	display: flex;
	align-items: center;
}
.sketch__img img {
	display: block;
	max-width: 100%;
}

h2 {
	margin: 0.5em 0.25em;
	color: #6BE582;
	font-size: 2.5em;
	font-weight: 400;
}

h3 {
	background-color: #6BE582;
	color: #fff;
	margin-top: 0;
	padding: 0 1em;
	line-height: 1.8em;
	font-size: 1em;
}

a {
	text-decoration: none;
	color: inherit;
}

.intro {
	margin-top: 2em;
	margin-bottom: 4em;
}
.intro p {
	margin: 0 0.5em;
}
.intro > p:first-of-type {
	font-size: 1.5em;
	line-height: 1.8em;
}

.contact-title {
	margin: 1em 0 0.5em 0;
}

.contact-list {
	column-count: 2;
	margin-bottom: 2em;
}
.contact-list > span {
	margin-top: 0;
}

.btn--download,
.btn--link {
	display: flex;
	align-items: center;
	font-weight: 600;
	margin: 1em 0;
	white-space: nowrap;
}

.btn--link::before {
	content: url('arrow.svg');
	width: 2em;
	margin-right: 0.5em;
}
.btn--download::before {
	content: url('arrow.svg');
	min-width: 2em;
	transform: rotate(90deg);
	margin-right: 0.5em;
}
